<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="main-content">
      <div class="header">
        <div class="profile-wrapper">
          <img
            src="<%= user.profileImage %>"
            alt="Profile Picture"
            class="feed-picture"
          />
          <div class="profile-info">
            <a href="/profile"><p><%= user.username %></p></a>
          </div>
        </div>
        <div class="feed-nav-wrapper">
          <a href="/chat" class="nav-link">
            <span class="material-symbols-outlined"> chat </span> Chat
          </a>
          <a href="/post/create" class="nav-link">
            <span class="material-symbols-outlined"> add </span>Creat a post
          </a>
        </div>
      </div>
      <div class="feed-wrapper">
        <% posts.forEach(post => { %>
        <div class="post-wrapper">
          <div class="post-header">
            <div class="profile-wrapper">
              <img
                src="<%= user.profileImage %>"
                alt="Profile Picture"
                class="feed-picture"
              />
              <div class="profile-info">
                <p><%= post.author.username %></p>
              </div>
            </div>
          </div>
          <div class="post-body">
            <% if (post.url) { %>
            <img src="<%= post.url %>" alt="Post Image" />
            <% } %>
            <div class="post-info">
              <p><%= post.content %></p>
              <small><%= post.createdAt.toLocaleString() %></small>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
